
@{
    ViewBag.Title = "About";
}



<div class="container-fluid">
    <h1 class="mt-4">About</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sobre o Projeto</h5>
            <p class="card-text">Projeto desenvolvido para a disciplina de Projetos Web em 2020/2.</p>
            <a href="https://github.com/Felipedelima123/projetos-web-covid19" target="_blank" class="btn btn-dark card-columns">
                <div class="sb-nav-link-icon"><i class="fas fa-code"></i></div>
                GitHub
            </a>
        </div>
    </div>
</div>

