
@{
    ViewBag.Title = "Upload";
}

<div class="container-fluid">
    <h1 class="mt-4">Upload</h1>
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Selecione o arquivo de onde deseja carregar os dados</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
</div>

