@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">
                @if (Session["Username"] != null)
                {
                    <p>Name: @Session["Username"].ToString()</p>
                    <p>Email: @Session["Email"].ToString()</p>
                    <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>

    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 text-justify">
            <h2>Uniftec - Projetos Web - COVID19 Tracker</h2>
            <p>
                Temos como objetivo capturar informações diretamente do GPS de um dispositivo móvel e
                comparar com uma base de dados de casos positivos para COVID e com um cálculo
                de Geolocalização apontar os locais que ofereceram maior risco para o usuário
                e quais os locais que deveriam ser evitados.
            </p>
            <p>
                O aplicativo Mobile irá enviar as coordenadas (latitude e longitude) para uma API, que
                será construída, utilizando C# e iremos inserir em um banco de dados PostgreSQL.
                Esta API também será responsável por importar a base de dados pública,
                onde constam os dados necessários para que possamos realizar um Geocode.
                Após o Geocode poderemos calcular a distância em que os casos positivos de COVID19 residem e o percurso realizado pelos nossos usuários.
            </p>
            <p>
                Em posse desta análise, iremos montar um dashboard exibindo um mapa de calor, dos locais mais perigosos para se frequentar.
            </p>
            <p><a class="btn btn-default" href="https://github.com/Felipedelima123/projetos-web-covid19">Saiba Mais &raquo;</a></p>
        </div>
    </div>
</div>

